In [176]:
import numpy as np
import pandas as pd
import statistics as stats

In [63]:
dataframe =pd.read_csv("C:/Users/anton/OneDrive/Documents/Cursos/Estadistica descriptiva R y Python/Repositorio/curso_r_basico/data/datacrab.txt", delimiter= " ", decimal=".", encoding="utf-8")

In [177]:
dataframe.head(5)

   input  color  spine  width  satell  weight
0      1      3      3   28.3       8    3050
1      2      4      3   22.5       0    1550
2      3      2      1   26.0       9    2300
3      4      4      3   24.8       0    2100
4      5      4      3   26.0       4    2600

## Regla de Scott

In [222]:
#1.CALCULAMOS EL NUMERO DE CLASES 
n=len(dataframe) #Calculamos el numero de elementos
n

173

In [223]:
#Regla de "SCOTT"
AT=(3.5*stats.pstdev(dataframe.width)*pow(n,-1/3) )
A= (np.max(dataframe.width)-np.min(dataframe.width)) /AT 
K= np.ceil( A )  #Redondeamos al valor entero mas proximo
K

10.0

In [224]:
#2. CALCULAMOS LA AMPLITUD DE LOS INTERVALOS
A=(np.max(dataframe.width)-np.min(dataframe.width))/ K
A

1.25

In [225]:
#REGLA 3.CALCULAMOS LOS EXTREMOS DE LOS INTERVALOS
#los extremos van de 1.3 en 1.3
intervalos=[0]*int(K+1)
intervalos
L1 = np.min(dataframe.width)-1/2*.1
L1

20.95

In [226]:
for i in range(len(intervalos)):
    if i==0:
        intervalos[i]= L1
    else:
        intervalos[i]=intervalos[int(i-1)]+A
        
print(intervalos)

[20.95, 22.2, 23.45, 24.7, 25.95, 27.2, 28.45, 29.7, 30.95, 32.2, 33.45]

In [214]:
#REGLA 4.CALCULAMOS LA MARCA DE CLASE (Punto medio de cada uno de los intervalo)
X1=(intervalos[0]+intervalos[1])/2
X1
marcas=[0]*int(K)
marcas

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [215]:
for i in range(len(marcas)):
    if i==0 : marcas[i]=X1
    else : marcas[i]=marcas[i-1]+A
print(marcas)

[21.575, 22.825, 24.075, 25.325, 26.575, 27.825, 29.075, 30.325, 31.575, 32.825]

## Regla de la Raiz cuadrada

In [246]:
#1. CALCULAMOS EL NUMERO DE CLASES 
K=np.ceil(np.sqrt(n))
K

14.0

In [247]:
#2. CALCULAMOS LA AMPLITUD DE LOS INTERVALOS
A=(np.max(dataframe.width)-np.min(dataframe.width))/K
A=np.ceil(A,)
A

1.0

In [248]:
#REGLA 3.CALCULAMOS LOS EXTREMOS DE LOS INTERVALOS
#los extremos van de 1.9 en 1.9
intervalos=[0]*int(K+1)
intervalos
L1 = np.min(dataframe.width)-1/2*.1
L1

20.95

In [249]:
for i in range(len(intervalos)):
    if i==0:
        intervalos[i]= L1
    else:
        intervalos[i]=intervalos[int(i-1)]+A
        
print(intervalos)

[20.95, 21.95, 22.95, 23.95, 24.95, 25.95, 26.95, 27.95, 28.95, 29.95, 30.95, 31.95, 32.95, 33.95, 34.95]

In [251]:
#REGLA 4.CALCULAMOS LA MARCA DE CLASE (Punto medio de cada uno de los intervalo)
X1=(intervalos[0]+intervalos[1])/2
X1
marcas=[0]*int(K)

In [252]:
for i in range(len(marcas)):
    if i==0 : marcas[i]=X1
    else : marcas[i]=marcas[i-1]+A
print(marcas)

[21.45, 22.45, 23.45, 24.45, 25.45, 26.45, 27.45, 28.45, 29.45, 30.45, 31.45, 32.45, 33.45, 34.45]