# Funciones en Python

In [2]:
def suma(x, y):
    return x+y

In [3]:
class Operaciones(object):  #Nunca omitir los :
    def suma(self, x,y):    #Definimos la funcion, eL primer parametro siempre es self y en seguida los parametros
        self.resultado= x+y #Self hace referencia a la misma clase
        return self.resultado
    
#El primer argumento de cualquiermetodo de una clase siempre sera self y referenciara a la instancia de la clase(ref al objeto)

In [4]:
suma(3,4)   #Definicion de la funcion suma

7

In [5]:
operInstance = Operaciones()   #Creamos una instancia a la clase nombre_obj = nombre_Clase()
operInstance.suma(2,3)         #nombre_obj.funcion  // Invocamos la funcion de la clase

mi_clase = Operaciones()
mi_clase.suma(4,4)

8

In [6]:
def saludar():
    nombre=str(input("intorduce tu nombre:")) #str()= combierte a cadena la entrada 
    if nombre: #Evalua el parametro
        print("Hola:"+nombre)
    else:     #Si el parametro es nulo entonces regresa la del else
        print("Hola estoy programando en python")
    return   #Si la funcion no regresa nada como resultado final se puede omitir el return

In [8]:
saludar()  #Ejecutamos la funcion

intorduce tu nombre:
Hola estoy programando en python

In [9]:
suma(3,5)*5  #Cuando la funcion devuelve algo podemos utilizarla para una operacion

40

In [10]:
def buscaPares():
    for x in range(10):
        if x % 2 == 0:
            return   # cuando entra retrona la ejecucion y termina 
    print("Fin de la ejecución")

In [11]:
buscaPares()

In [21]:
def sumaresta (x,y):
    suma= x+y
    resta=x-y
    return (suma, resta) #Al return con mas de dos valores se le conoce como una tupla,recomendacion colocar la lista en ()
def sumaresta2 (x,y=0):
    suma= x+y
    resta=x-y
    return (suma, resta) #Al return con mas de dos valores se le conoce como una tupla,recomendacion colocar la lista en ()

In [17]:
sumaresta(x=4,y=4)

(8, 0)

In [24]:
sumaresta2(5) #En una funcin se puede omitir pasar el valor si se inicialozo con uno valor dentro de la funcion

(5, 5)

In [25]:
#funciones con N. variable de argumentos, cuando no sabemos el numero de argumentos a pasar; se puede resolver con anteponer
# un *args antes del nombre del argumento, para  pasar una variable(del mismo tipo) que no se conoce su longitud

def suma(*args):
    return sum(args)  #la funcion SUM() es propia de python y sirve para sumar un conjunto de numeros

In [29]:
suma(1,2)

3

In [30]:
suma(1,2,3,4)

10

In [31]:
suma(1,2,3,4,5,6,7,8,9,10)

55

In [48]:
def sumacuadrados(*datos):
    total=0;
    for i in datos:
        total +=  i**2;
        #total =  total +i**2  Otra forma de hacer la suma al resultado de la potencia 
    return total

In [49]:
sumacuadrados(1,2,3,4)

30

In [47]:
sumacuadrados(2.5, 3.6, 8.9, -2, 12.67)

262.9489

In [51]:
sumacuadrados(1,2,3,4)

30

# Funciones anónimas en python

In [97]:
doble = lambda x: x*2  # funcio doble declarada como lamda (anonima)

In [98]:
doble(2)

4

In [99]:
cuadrado = lambda x: x**2

In [62]:
cuadrado(5)

25

In [100]:
suma = lambda x, y: x+y #Funcion suma de lambda

In [101]:
suma(2,3)

5

In [53]:
from functools import reduce #Del paquete "functools" importemos la libreria "reduce"

In [75]:
data = [1,2,3,4,5,6,7,8,9,10]  #Ejemplo de vector de datos

In [102]:
filtered_data = list(filter(lambda datos: (datos*2>8), data))
#list() = Funcin que recibe una lista
#filter(<condition>,<Data>) = Funcion que filtra un conjunto de datos , segun un criterio

In [85]:
filtered_data

[5, 6, 7, 8, 9, 10]

In [111]:
mapped_data = list(map(lambda datos: datos*3, data))
#list() = Funcin que recibe una lista
#map(<condition_funcion>,<Data>) = Funcion que mapea un conjunto de datos original segun un criterio ye regresa un vector

In [89]:
mapped_data

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [117]:
#reduce() = Funcin que reduce la informacion operando de forma sucesiva a un solo parametro, ya no regresa un vector
reduced_data = reduce(lambda x , y: x+y, data)

NameError: name 'reduce' is not defined

In [ ]:
reduced_data

In [118]:
import pandas as pd

In [91]:
data = pd.read_csv("../../data/bodyfat.txt", delimiter=" ")

In [92]:
data.head()

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
1,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
2,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
3,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
4,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
5,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [74]:
data.tail()

     1  2200  51.0  1128  70.9  7  0.25  54.8  1720
70    8  1450  51.4  997  73.4  7  0.10  55.2  1454
71    8  1200  49.8  991  70.8  6  0.15  54.6  1475
72    8  1425  50.0  928  70.8  6  0.10  53.9  1375
73    8  1250  50.1  990  71.0  6  0.10  54.9  1564
74    8  1500  51.7  992  70.6  7  0.15  55.1  1458

In [94]:
data.iloc[[0]]

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
1,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1

In [83]:
data.loc[[0]]

     1  2200  51.0  1128  70.9  7  0.25  54.8  1720
0    1  2250  51.9  1108  72.1  7  0.25  55.3  1575

In [87]:
data[1:10:2]

     1  2200  51.0  1128  70.9  7  0.25  54.8  1720
1    1  1625  49.9  1011  71.6  6  0.15  53.1  1410
3     1  2150  51.2  996  68.6  7  0.25  55.0  1488
5     1  2250  51.0  959  72.1  7  0.20  54.0  1522
7     1  1600  50.1  979  71.2  6  0.25  51.5  1365
9    1  1850  50.6  1036  69.2  6  0.15  54.8  1570

In [98]:
data.describe()

,Density,Fat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
count,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000
mean,1.055574,19.150794,44.884921,178.924405,70.148810,37.992063,100.824206,92.555952,99.904762,59.405952,38.590476,23.102381,32.273413,28.663889,18.229762
std,0.019031,8.368740,12.602040,29.389160,3.662856,2.430913,8.430476,10.783077,7.164058,5.249952,2.411805,1.694893,3.021274,2.020691,0.933585
min,0.995000,0.000000,22.000000,118.500000,29.500000,31.100000,79.300000,69.400000,85.000000,47.200000,33.000000,19.100000,24.800000,21.000000,15.800000
25%,1.041400,12.475000,35.750000,159.000000,68.250000,36.400000,94.350000,84.575000,95.500000,56.000000,36.975000,22.000000,30.200000,27.300000,17.600000
50%,1.054900,19.200000,43.000000,176.500000,70.000000,38.000000,99.650000,90.950000,99.300000,59.000000,38.500000,22.800000,32.050000,28.700000,18.300000
75%,1.070400,25.300000,54.000000,197.000000,72.250000,39.425000,105.375000,99.325000,103.525000,62.350000,39.925000,24.000000,34.325000,30.000000,18.800000
max,1.108900,47.500000,81.000000,363.150000,77.750000,51.200000,136.200000,148.100000,147.700000,87.300000,49.100000,33.900000,45.000000,34.900000,21.400000