  # Datos Planetas

In [ ]:
import seaborn as sb   #Iportamos la librerias de los datos de planetas

In [6]:
planetas= sb.load_dataset("planets") #Cargamos el dataset planets y los asignamos a la variable

In [7]:
planetas.shape  #Para saber cuantas filas y columnas tiene el dataframe

(1035, 6)

In [9]:
planetas.head() #Mueastra los primeros 5 planetas

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [12]:
# dropna()= Permite identificamos si existen valores NA y los elimina del dataframe
platenas.dropna()

#describe()= Es similar a la funcion summary() en R, muestra resumen conjunto de las M.Dipersion y M.Tenderncia Central 
#como media.mediana,moda, std,min,max, tot, cuartiles
planetas.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [14]:
import pandas as pd

In [16]:
planetas.distance.sum()    #Calculamos la suma de todos los datos

213367.98000000004

In [17]:
planetas.distance.prod()  #la salida es inf por que no se puede hacer la ultiplicacion de todos los valores

inf

$$\frac{\sum_{i=1}^n |x_i -\bar{x}|}{n}$$

In [19]:
planetas.distance.mad() #Calculamos la desviasion absoluta media

318.100885452407

In [24]:
planetas.distance.var() #Calculamos la varianza

537459.7922212934

In [25]:
planetas.distance.std() #Calculamos la desviasion estandar

733.1164929404422

In [27]:
planetas.groupby('method')   #la funcion group by, nos pemrite agrupar los datos por una variable

In [28]:
#obtenermos la columna method como agrupacion de la columna orbital_period y calculamos la mediana
planetas.groupby('method')['orbital_period'].median()

method
Astrometry                         631.180000
Eclipse Timing Variations         4343.500000
Imaging                          27500.000000
Microlensing                      3300.000000
Orbital Brightness Modulation        0.342887
Pulsar Timing                       66.541900
Pulsation Timing Variations       1170.000000
Radial Velocity                    360.200000
Transit                              5.714932
Transit Timing Variations           57.011000
Name: orbital_period, dtype: float64

In [31]:
#podrmos hacer este mismo ejemplo con un bucle
#metodo y grupo apartir del dataframe con funcion groupby(<variable>)
for (method, group) in planetas.groupby('method'):
    #{0:30s} = reserva espacio para imprimirlos metodos
    #shape={1} = reserva espacio para cada uno de los grupos y aplica la funcion shape
    print("{0:30s} shape={1}".format(method, group.shape))

Astrometry                     shape=(2, 6)
Eclipse Timing Variations      shape=(9, 6)
Imaging                        shape=(38, 6)
Microlensing                   shape=(23, 6)
Orbital Brightness Modulation  shape=(3, 6)
Pulsar Timing                  shape=(5, 6)
Pulsation Timing Variations    shape=(1, 6)
Radial Velocity                shape=(553, 6)
Transit                        shape=(397, 6)
Transit Timing Variations      shape=(4, 6)

In [33]:
#Tambien podemos utlizar describe(), para descrinir una sola variable y no todo el dataframe

planetas.groupby("method")["year"].describe() #Describe para cada metodo como se comportan la variable a√±os

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,2011.500000,2.121320,2010.0,2010.75,2011.5,2012.25,2013.0
Eclipse Timing Variations,9.0,2010.000000,1.414214,2008.0,2009.00,2010.0,2011.00,2012.0
Imaging,38.0,2009.131579,2.781901,2004.0,2008.00,2009.0,2011.00,2013.0
Microlensing,23.0,2009.782609,2.859697,2004.0,2008.00,2010.0,2012.00,2013.0
Orbital Brightness Modulation,3.0,2011.666667,1.154701,2011.0,2011.00,2011.0,2012.00,2013.0
Pulsar Timing,5.0,1998.400000,8.384510,1992.0,1992.00,1994.0,2003.00,2011.0
Pulsation Timing Variations,1.0,2007.000000,NaN,2007.0,2007.00,2007.0,2007.00,2007.0
Radial Velocity,553.0,2007.518987,4.249052,1989.0,2005.00,2009.0,2011.00,2014.0
Transit,397.0,2011.236776,2.077867,2002.0,2010.00,2012.0,2013.00,2014.0
Transit Timing Variations,4.0,2012.500000,1.290994,2011.0,2011.75,2012.5,2013.25,2014.0

In [43]:
decade = 10*(planetas['year']//10)
decade

0       2000
1       2000
2       2010
3       2000
4       2000
        ...
1030    2000
1031    2000
1032    2000
1033    2000
1034    2000
Name: year, Length: 1035, dtype: int64

In [55]:
#Sobre la variable "decada" le concatanemos la letra "S", esto se logra convirtiendo la variable en cadena 
#la funcion con el <varible>.astype(str) que hace un casting a string
decade= decade.astype(str)+"s" 
decade

0       2000sss
1       2000sss
2       2010sss
3       2000sss
4       2000sss
         ...
1030    2000sss
1031    2000sss
1032    2000sss
1033    2000sss
1034    2000sss
Name: decade, Length: 1035, dtype: object

In [47]:
#Le doy un nombre y despues lo agrego al data frame original
decade.name="decade"

In [51]:
## DATOS APILADOS
#Agrupamos los datos por metodo de descubrimeinto y decada de descubrimiento 
#groupby( <variable>,<variable>), agrupa los datos
planetas.groupby(["method",decade])["number"].sum() #Me quedo con la variable "number" # descubrimiento y los sumo()

method                         decade
Astrometry                     2010ss      2
Eclipse Timing Variations      2000ss      5
                               2010ss     10
Imaging                        2000ss     29
                               2010ss     21
Microlensing                   2000ss     12
                               2010ss     15
Orbital Brightness Modulation  2010ss      5
Pulsar Timing                  1990ss      9
                               2000ss      1
                               2010ss      1
Pulsation Timing Variations    2000ss      1
Radial Velocity                1980ss      1
                               1990ss     52
                               2000ss    475
                               2010ss    424
Transit                        2000ss     64
                               2010ss    712
Transit Timing Variations      2010ss      9
Name: number, dtype: int64

In [53]:
## DATOS DESAPILADOS
#unstack()= Los combierte a una tabla de doble entrada
#para los NAN, significa que no se descubrio ningun planeta
planetas.groupby(["method",decade])["number"].sum().unstack()

decade                         1980ss  1990ss  2000ss  2010ss
method
Astrometry                        NaN     NaN     NaN     2.0
Eclipse Timing Variations         NaN     NaN     5.0    10.0
Imaging                           NaN     NaN    29.0    21.0
Microlensing                      NaN     NaN    12.0    15.0
Orbital Brightness Modulation     NaN     NaN     NaN     5.0
Pulsar Timing                     NaN     9.0     1.0     1.0
Pulsation Timing Variations       NaN     NaN     1.0     NaN
Radial Velocity                   1.0    52.0   475.0   424.0
Transit                           NaN     NaN    64.0   712.0
Transit Timing Variations         NaN     NaN     NaN     9.0

In [54]:
## DATOS DESAPILADOS
#fillna()= Permite remplazar los datros "NAN" con un valor espesifico, es este caso con un "0"
planetas.groupby(["method",decade])["number"].sum().unstack().fillna(0)

decade                         1980ss  1990ss  2000ss  2010ss
method
Astrometry                        0.0     0.0     0.0     2.0
Eclipse Timing Variations         0.0     0.0     5.0    10.0
Imaging                           0.0     0.0    29.0    21.0
Microlensing                      0.0     0.0    12.0    15.0
Orbital Brightness Modulation     0.0     0.0     0.0     5.0
Pulsar Timing                     0.0     9.0     1.0     1.0
Pulsation Timing Variations       0.0     0.0     1.0     0.0
Radial Velocity                   1.0    52.0   475.0   424.0
Transit                           0.0     0.0    64.0   712.0
Transit Timing Variations         0.0     0.0     0.0     9.0