# Listas
Son contenedores que permiten almacenar una coleccio de objetos en un orden determinado. Se puede acceder,añadir o eliminar un objeto de forma sencilla.

In [8]:
L1= []  #Lista vacia

In [11]:
L2=["a","e","i","o","u"]  #Lista con valores iniciales de tipo caracter

In [ ]:
L3=[2,3,5,7,11]   #lista con valores enteros

In [12]:
L4 = ["a",5,True,"cdmx"]  #Lista eterogenia, convarios tipos de datos diferentes

In [14]:
L4

['a', 5, True, 'cdmx']

In [41]:
L5 =[0]*10    #Definimos una lista con un valor repetido con 10 valores iguales

In [42]:
L5

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [19]:
L4[0]  #La posicion 0 es la posicion del primer elemento de la lista

'a'

In [45]:
L5[4] = 3.1415  # Modificamos el elemto 5 de la lista con

In [23]:
L5

[0, 0, 0, 0, 3.1415, 0, 0, 0, 0, 0]

In [43]:
L5[13]=8   #Error por que el indice esta fuera del rango definido

IndexError: list assignment index out of range

In [25]:
L4[0:2] #Para acceder a multiples pósiciones, Regresa = Inicio:Termina-1

['a', 5]

In [44]:
L5[1:4]= [1,2,3] #Modifica multiples elementos de la lista  "Inicio:Termina-1

In [31]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0]

In [32]:
L5.append(8)  #Agrega un elemento a la lista, el elemto agregado se agrega al final como ultimo elemento

In [46]:
L5

[0, 1, 2, 3, 3.1415, 0, 0, 0, 0, 0]

In [47]:
L5.remove(3)   # Remueve la primera coincidencia que encuentra segun el parametro que a borrar

In [48]:
L5

[0, 1, 2, 3.1415, 0, 0, 0, 0, 0]

In [50]:
L5.reverse()   # Hace el reves de los elemento que contiene la lista

In [51]:
L5

[0, 0, 0, 0, 0, 3.1415, 2, 1, 0]

In [53]:
L5.count(0) #cuanta cuantas coincidencias de los ementos dentro d ela lista

6

In [54]:
L5.index(2) #En que indice se encuentra el elemento numero 2

6

In [55]:
len(L5)  #Cuantos elementos tiene la lista (Tamaño)

9

In [57]:
L=[1,2,3,4,5,6]

In [58]:
L[1::2]  #Muestra de la pisicion 1 con saltos de 2 "Inicio::Salto"

[2, 4, 6]

In [59]:
L[::2]   #Muestra de la pisicion 0 con saltos de 2 "Inicio::Salto" impares

[1, 3, 5]

In [60]:
L[-1]  #Regresa el ultimo elemto de la lista

6

In [61]:
8 in L   #Regresa un TRUE o FALSE dependiendo de si el elemnto a buscar esta dentro "IN" lista

False

In [62]:
4 in L

True

#  Bucles

Los bulcles **for** itera sobre una coleccion (lista,string,objeto iterable)

In [9]:
L=[5,5,6,6,7,7,8,8]
for i in L:   #Por medio del bucle for recorremos cada elemento de la lista ,i=es una variable temporal
    print(i)

5
5
6
6
7
7
8
8

In [2]:
for x in range(0,10):  #Se puede iterar sobre rango de valores que inicia en 0:10
    print(x)

0
1
2
3
4
5
6
7
8
9

In [7]:
for c in "anotonio":  #Ejemplo de como recorrer un string posicion por posicion con un bucle for 
    print(c)

a
n
o
t
o
n
i
o
3

In [8]:
notas=[4,5,6,7,8,8,9,10]
suma=0
for nota in notas:
    suma=suma+nota
print(suma/len(notas))   #Permite hacer el la suma y dspues el promedio de la notas definidas por el vector notas

7.125

EL bucle **while** se repite  hasta que la condicion bulanea deja de ser cierta

In [75]:
count=0
while count <10:  #Se ejecuta mientras "caunt" sea mas pequeño que 10
    print(count)
    count+=1   #Para sumar una unidad a la variable count y asi evaluar cada iteracion en **while** hasta que sea falsa

0
1
2
3
4
5
6
7
8
9

In [10]:
primos=[23,24,45,87,88,8,9,7,9,9,]   #Declaramos el vector
for idx, i in enumerate(primos):   #Definimos una variable idx=toma la posicion - i=toma el valor de la lista (enumerate)
    print(idx, i)

0 23
1 24
2 45
3 87
4 88
5 8
6 9
7 7
8 9
9 9

In [22]:
for idx in range(len(primos)) : #Consulta los indices en rango, recorre la posicion del objeto y obtiene el valor
        print(str(idx)+".-Valor: "+str(primos[idx]))

0.-Valor: 23
1.-Valor: 24
2.-Valor: 45
3.-Valor: 87
4.-Valor: 88
5.-Valor: 8
6.-Valor: 9
7.-Valor: 7
8.-Valor: 9
9.-Valor: 9

# Tuplas

Una coleccion de objetos  que no se pueden modificarse (tamaño y contenido fijo)

In [85]:
p1 =(1,)#Definir una tupla de un elemento, es necesario colocar la ","

In [86]:
p1

(1,)

In [89]:
p2= (1,2,3,4)

In [90]:
p2

(1, 2, 3, 4)

In [91]:
p3= (1,2,"c", 3.1415)   #Ejemplo de como se puede definir una tupla heterogenia

In [92]:
p3

(1, 2, 'c', 3.1415)

In [93]:
p3[0]  #Acceder al valor del item 0

1

In [94]:
p3[0:2] #Acceder al valor del item (inicio:hasta-1)

(1, 2)

In [95]:
a,b,c,d=p3  #Asignamos los valores de la tupla a las variables multiples

In [96]:
p3

(1, 2, 'c', 3.1415)

In [97]:
a #variable a=1

1

In [98]:
b #variable a=2

2

In [99]:
c

'c'

In [100]:
d

3.1415

In [104]:
l3=list(p3)   #Hacemos una conversion de una tupla a lista, con la funcion, list(<tupla>)
l3

[1, 2, 'c', 3.1415]

In [106]:
p5=tuple(L5) #Hacemos una conversion de una lista a tupla, con la funcion, tuple(<lista>)
p5

(0, 0, 0, 0, 0, 3.1415, 2, 1, 0)

In [109]:
"Hola como estas".split(" ")  # Divide una palabra segun el delimitador que se indique

['Hola', 'como', 'estas']

In [23]:
numeros=str(input("Ingresa la serie de numeros delimitado por comas:  "))
print("Los numeros son: "+str(numeros))
print("=====")
lista_num=list(numeros.split(","))
print("Conversion a lista:"+str(lista_num))
print("=====")
tupla_num=tuple(numeros.split(","))
print("Conversion a tupla:"+str(tupla_num))

Ingresa la serie de numeros delimitado por comas:  1,2,3,4,5
Los numeros son: 1,2,3,4,5
=====
Conversion a lista:['1', '2', '3', '4', '5']
=====
Conversion a tupla:('1', '2', '3', '4', '5')

In [24]:
for i in lista_num:
    print(int(i)+1)   #La funcion int()  permite hacer el casting para convertire de char a num

2
3
4
5
6

In [25]:
suma=0
for i in lista_num:
    suma+= int(i)
print("La suma de los numeros: "+str(suma)+"  y la media: "+str(suma/len(lista_num)))

La suma de los numeros: 15  y la media: 3.0

# Diccionario
Coleccion de elementos clave:valor, se indexa por clave y no por posicion

In [40]:
#%s place holder, sustituye un el %por un valor cadena
#%d place holder, sustutuye un valor numerico entero
#%f place holder, sustutuye un valor numerico con decimales

numero=float(input("Introduce un numero con decimales: "))
print("El numero es: %.2f"%numero)
numero=int(input("Introduce un numero sin decimales: "))
print("El numero es: %d"%numero)

Introduce un numero con decimales: 222.333
El numero es: 222.33
Introduce un numero sin decimales: 22
El numero es: 22

In [68]:
edad={
"juan":24,
"carlos":23,
"ramon":30 
}
print("La edad de Ramon es: "+str(edad["ramon"]))

La edad de Ramon es: 30

In [56]:
edad

{'juan': 24, 'carlos': 23, 'ramon': 30}

In [58]:
"juan" in edad   #Para consultar si una clave esta por la clave en el Diccionario

True

In [60]:
"maria" in edad   #Para consultar si una clave esta por la clave en el Diccionario

False

In [69]:
del edad["juan"] #la instruccion "del" , elimina el elemento del diccionario por la clave
edad

{'carlos': 23, 'ramon': 30}